# Denne filen sørger for at alle som deltar i dette prosjektet
# skriver kode som er konsistent med vår valgte rettningslinjer.

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf

# Fleste kodespråk bruker 4 spaces, men i React er 2 standard
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# Set markdown specific charset and indentation used for docs
[*.md]
max_line_length = 0
trim_trailing_whitespace = false
